.banner {
    text-align: center;
    width: 42%;
    margin: auto;   
    padding: 6em 0 8em 0; 
    
}


.banner__titulo-secundario {
    font-weight: 600;
    color: #8E2424
}


.banner__titulo {
    font-size: 48px;
    font-weight: 600;
    color: #101828;
    padding: 0.7em 0;
}


.banner__texto {
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-cinza);
}